.article {
  min-width: 80vh;
  min-height: 15rem;
  height: auto;
  background-color: #000;
  border-radius: 0.4rem;
  padding: 3rem;
  color: #e5e5e5;
}

.header {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 60%;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.author {
  font-size: 2.4rem;
  text-align: right;
  opacity: 0.8;
}

.view {
  padding: 3rem;
}

.link {
  position: relative;
  padding-bottom: 3px;
  color: #4361eeff;
  text-decoration: none;
  max-width: max-content;
  max-height: 1.5rem;
  margin-bottom: 3rem;
}

.link:hover {
  color: #4361eeff;
}

.link::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #4361eeff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover::before {
  transform: scaleX(1);
}

.comments {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.refresh {
  max-width: fit-content;
}
