.button {
  text-transform: uppercase;
  height: 3.5rem;
  width: 100%;
  font-size: 1.2rem;
  color: #ccc;
  border: none;
  background: #000;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}
