.blackwrap {
  background: #000;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}

.header {
  padding: 1rem 2rem 0;
}
.comment {
  padding: 1rem 2rem;
  height: auto;
  font-size: 0.8rem;
  position: relative;
  transition: height 0.3s ease;
}

.comment:hover {
  cursor: pointer;
}

.replies {
  max-width: 30rem;
  padding: 1rem 4rem;
}
