.header {
  width: 100%;
  min-height: 7rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-transform: uppercase;
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 0 4rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: showHeader 0.6s ease;
}

.button {
  text-transform: uppercase;
  height: 3.5rem;
  width: 100%;
  font-size: 1.2rem;
  color: #ccc;
  border: none;
  background: #000;
  border-radius: 0.3rem;
}

.button {
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .header {
    font-size: 1.1rem;
    flex-wrap: wrap;
    min-height: 10rem;
    margin: 0 auto;
    gap: 1.5rem;
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 580px) {
  .header {
    font-size: 0.9rem;
  }
  .home {
    padding: 4rem;
  }
}
/* @keyframes showHeader {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
} */
