.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.msg {
  position: relative;
  font-size: 4rem;
  text-align: center;
  display: inline-block;
}

.msg::after {
  content: '';
  width: 6rem;
  height: 2rem;
  display: block;
  position: absolute;
  background-color: #111;
  right: 0;
  top: 3rem;
  animation: change 2s infinite steps(2, end);
}

@keyframes change {
  from {
    width: 6rem;
  }
  50% {
    width: 2rem;
  }
  to {
    width: 0;
  }
}
