.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.msg {
  font-size: 4rem;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 1230px) {
  .msg {
    font-size: 3rem;
  }
}

@media screen and (max-width: 922px) {
  .msg {
    font-size: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .container {
    top: 30%;
  }
}

/* @media screen and (max-width: 356px) {
  .container {
    top: 30%;
  }
  .msg {
    font-size: 1.6rem;
  }
} */
